@import "../../theme/variables";

.app-component {
	display: inline-block !important;
	min-height: 80% !important;
	min-width: 80% !important;
	background-color: white;
}

.app-topbar {
	height: 32px !important;
	width: 100% !important;
}

.close-button:hover {
	color: var(--color-white);
	background-color: var(--color-red);
}

.maximized {
	margin-left: -10% !important;
	width: 110% !important;
	height: calc(100% - 40px) !important;
}
