.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #8CA6DB;
    color: #000;
    max-height: 50px;
    z-index: 2;
  }
  
  .timeLine.row .col_2 {
    align-self: stretch;
  }
  .timeLine.row .col_2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #8CA6DB;
    z-index: 1;
  }
  .timeLine.row .col_2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .timeLine.row .col_2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .timeLine.row .col_2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #8CA6DB;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col_2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #8CA6DB;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top_right {
    left: 50%;
    top: -50%;
  }
  .timeline .left_bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top_left {
    left: -50%;
    top: -50%;
  }
  .timeline .right_bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  