.DesktopContainer{
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  background-image: url('../assets/images/Wallpapers/wallpaper1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.TaskBar{
  padding: 0 !important;
}

.TaskBarIcon{
  height: 43px; 
  width: 48px; 
  color: #ffffff; 
}

.TaskBarIcon:hover , .ClockComponent:hover , .ToolBarIcon:hover { 
  background-color: rgba(255, 255, 255, 0.1) !important; 
}

.TaskBarIconComponent{
  margin-top: 25%;
  margin-left: 30%;
  height: 21px;
}

.ClockComponent{
  padding: 5px;
}

.ClockInnerComponents{ 
  display: block; 
  text-align: center; 
  font-size: 11px; 
  color: #ffffff; 
} 

.ToolBarIcon{
  color: #ffffff;
  height: 43px; 
  width: 30px;
  font-size: 12px;  
}

.ToolBarSymbols{
  margin: 50% 30%;
}

.BackgroundBlur{
  background-color: rgba(0, 0, 0, .80);	
	backdrop-filter: blur(15px);
}

.DesktopIcon{
  text-align: center;
  padding: 5px;  
}

.DesktopIconName{
  color: #ffffff !important;
}

.DesktopIcon:hover{
  background-color: rgba(255, 255, 255, 0.1) !important; 
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
