.BG_Container{
    height: 100vh;
    width: 100vw;    
}

.TaskBar{
    bottom: 0;
    position: absolute;
    height: 43px;
    width: 100%;
    position: fixed;
    background: #004172;
}

.StartButton{
    margin-left: 0;
    height: 43px;
    width: 48px;
    position: relative;
    display: inline-block;
    background-color: 'rgba(52, 52, 52, 0.8)'
}

.StartButtonIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: white;
}

.TaskBarContainer .TaskBarIcon{
    float: left;
}

.TaskBarIcon:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.CortanaIcon{
    height: 43px;
    width: 48px;
    position: relative;
    display: inline-block;
    background-image: url('../assets/images/cortana.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.FileExplorerIcon{
    height: 43px;
    width: 48px;
    position: relative;
    display: inline-block;
    background-image: url('../assets/images/file_explorer.png');
    background-repeat: no-repeat;
    background-position: center;
}