.DesktopContainer{
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  background-image: url('../assets/images/Wallpapers/wallpaper1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.TaskBar{
  padding: 0 !important;
}

.TaskBarIcon{
  height: 43px; 
  width: 48px; 
  color: #ffffff; 
}

.TaskBarIcon:hover , .ClockComponent:hover , .ToolBarIcon:hover { 
  background-color: rgba(255, 255, 255, 0.1) !important; 
}

.TaskBarIconComponent{
  margin-top: 25%;
  margin-left: 30%;
  height: 21px;
}

.ClockComponent{
  padding: 5px;
}

.ClockInnerComponents{ 
  display: block; 
  text-align: center; 
  font-size: 11px; 
  color: #ffffff; 
} 

.ToolBarIcon{
  color: #ffffff;
  height: 43px; 
  width: 30px;
  font-size: 12px;  
}

.ToolBarSymbols{
  margin: 50% 30%;
}

.BackgroundBlur{
  background-color: rgba(0, 0, 0, .50);	
	backdrop-filter: blur(15px);
}

.DesktopIcon{
  text-align: center;
  padding: 5px;  
}

.DesktopIcon:hover{
  background-color: rgba(255, 255, 255, 0.1) !important; 
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  cursor: pointer;
}

.hoverPointer:hover{ 
  cursor: pointer !important; 
} 

.modalOverride {
    right: 20% !important;
    left: 20% !important;
    width: 80% !important;
}

.AppExplorerStaticTop{
  color: #ffffff;
}

.roundedTop{
  border-top-left-radius : .25rem!important;
  border-top-right-radius: .25rem!important;
}

.AppExplorerSidePanel{
  width: 25%;
  color: #ffffff;
  height: 100% !important;
}

.bgTransparent{
  background-color: transparent !important;
}

.noPadding{
  padding: 0 !important;
}

.roundedTopRight{
    border-top-right-radius: .25rem!important;
}

.roundedTopLeft{
  border-top-left-radius: .25rem!important;
}

.roundedBottomLeft{
  border-bottom-left-radius: .25rem!important;
}

.AppExplorerTitle{
  border-top-left-radius : .25rem!important;
  border-top-right-radius: .25rem!important;
  color: #000000 !important;
  padding-right: 10px;
}

.OffWhite{
    background-color: #e5ebf0 !important;
}

.SmallFont{
  font-size: small !important;
}

.AppExplorerTopPanelBtn{
  margin: 2px;
}

.ExplorerTopPanelIcons {    
    margin: 5px;
}

.RefreshIcon{
    font-size: 12px;
    margin: 5px;
}

.AppExplorerDataPanel{
  min-height: 125px;
}

.AppExplorerDataPanel > figure{
  margin: 10px !important;
}

.fontColorWhite{
  color: #ffffff !important;
}

.fontColorBlack{
  color: #000000 !important;
}

.AppExplorerDataPanel > .DesktopIcon{
  max-width: 80px !important;
}

.modalBodyOverRide{
  height: 500px !important;
}

.ModalDataPanel{
height: 100% !important;
overflow: auto;
}

.shadowOnHoverLarge:hover{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.SkillCard{
  min-height: 200px !important;
}

.SkillBadge{
  border-radius: 21px !important;
  height: 42px !important;
}

.SkillBadgePlus{
  border-radius: 50% !important;
}