@import "../../theme/variables";

.start-menu {
	height: 80% !important;
	width: 50vw !important;
	top: calc(20% - 40px) !important;
	background: rgba(74, 74, 74, 0.5) !important;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
	backdrop-filter: blur(20px) !important;
	-webkit-backdrop-filter: blur(20px) !important;
}

.start-quick-actions {
	width: 42px !important;
	height: 100% !important;
}
.start-app-list {
	width: calc((100%-42px) - 60%);
	height: 100% !important;
}
.start-tiles {
	width: calc((100%-42px) - 40%);
	height: 100% !important;
}

.quick-action-button {
	width: 40px !important;
	height: 40px !important;
}
