/* .example-enter{
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave{
    opacity: 1;
}

.example-leave.example-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in;
} */

/* .example-enter {
    height: 0px;
}

.example-enter.example-enter-active {
    height: 750px;
    -webkit-transition: height .3s ease;
}

.example-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
} */