@import "theme/variables";

.screenHeight {
	height: 100vh !important;
}

.font-color-white {
	color: var(--color-white) !important;
}

.app-playground {
	height: 100% !important;
	width: 90% !important;
}

.blur {
	background: rgba(74, 74, 74, 0.5) !important;
	backdrop-filter: blur(20px) !important;
	-webkit-backdrop-filter: blur(20px) !important;
}
