@import "theme/variables";

.screenHeight {
	height: 100vh !important;
}

.font-color-white {
	color: var(--color-white) !important;
}

.app-playground {
	height: 100% !important;
	width: 90% !important;
}
